<h1><%= @room.name %></h1>

<div id="container">
  <%= render @messages %>
</div>

<%= form_with model: @message, html: {name: "myform"} do |form| %>
  <%# idは自動でmessage_contentになる %>
  <%= form.text_field :content %>
  <%= form.hidden_field :user_id, value: @user.id %>
  <%= form.hidden_field :room_id, value: @room.id %>
  <%= form.submit "送信" %>
<% end %>

<%= link_to 'Back', user_rooms_path(@user) %>
